.container{
    height:300px;
    width: 300px;
    border: 2px solid black;
    background-color: blueviolet;
    /* transform: translate(100px); */
   /* transform: rotate(45deg);
   transform: scaleY(2);
   transform: skewX(30deg);
   transform: skewY(20deg);
   transform: rotateX(150deg); */
    /* transform: rotateY(60deg);  */
    /* transform: rotateX(60deg);  */
   /* transform: rotateZ(120deg); */
   /* transform: matrix(scaleX,skewY,skewX,scaleY,translateX,translateY); */
   /* transform: matrix(1,-0.3,0.5,1,0,0); */
   transition-property: height width ;
   transition-duration: 1s;
   transition-delay: 1s;
   /* transition-timing-function: ease-out; */

   
}
.container:hover{
    height: 500px;
    width: 500px;
    border: 2px solid black;
    background-color: aqua;
     transform: rotate(360deg); 
    transition: 2s 3s;
    
    
}


